.card {
  width: 450px;
  height: 454px;
  margin: 0 auto;
  background-color: #a7cae2;
  border-radius: 8px;
  z-index: 1;
  border-radius: 8px;
  
  position: absolute;
  top: 180px; /* Kartın üst kenarının sayfanın üst kenarına olan uzaklığı */
  left: 50%;
  transform: translateX(-50%);
  .tools {
    display: flex;
    align-items: center;
    padding: 9px;

    .circle {
      padding: 0 4px;

      .box {
        display: inline-block;
        align-items: center;
        width: 10px;
        height: 10px;
        padding: 1px;
        border-radius: 50%;
      }
      
      .red {
        background-color: #ff605c;
      }
      
      .yellow {
        background-color: #ffbd44;
      }
      
      .green {
        background-color: #00ca4e;
      }
    }
  }
}
.cssbuttons-io-button {
  background: #a370f0;
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #100153;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  cursor: pointer;
}

.cssbuttons-io-button .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #15a2bb;
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #1788aa;
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}
